[Desktop Entry]
Type=Application
Icon=project_qwiz
Name=project_qwiz
Exec=/usr/bin/sailjail -p project_qwiz.desktop /usr/bin/project_qwiz
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=project_qwiz

[X-Sailjail]
Permissions=Audio;Calendar;Camera;Contacts;Documents;Downloads;Email;Internet;Messages;Microphone;Music;Phone;Pictures;Videos
OrganizationName=ru.test
ApplicationName=project_qwiz
